:root {
    --accenuate: rgba(43, 45, 66, 1);
    --window: rgba(141, 153, 174, 1);
    --background: rgba(237, 242, 244, 1);
    --mouse-over: rgba(239, 35, 60, 1);
    --amaranth-red: rgba(217, 4, 41, 1)(217, 4, 41, 1);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

img, video {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(237, 242, 244);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px minmax(auto, 800px);
    grid-template-rows: 150px auto;
    grid-template-areas:
                        "ui city-results"
                        "ui five-day"
                        ;
    gap: 10px;
    justify-content: center;
    flex-grow: 1;
}

#ui {
    grid-area: ui;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#input-container{
    width: inherit;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

#search-title {
    width: 80%;
}

#search-input {
    resize: none;
    height: 2rem;
    font-size: 1.2em;
    width: 95%;
    padding: .5em;
    align-self: center;
}

#submit-button {
    height: 2rem;
    width: 95%;
    background-color: skyblue;
    color: white;
    align-self: center;
}

#past-searches {
    min-height: 300px;
}

#city-results {
    grid-area: city-results;
    height: 150px;
}

.city-detail {
    height: 2rem;
    width: 150px;
    margin-bottom: 5px;
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#five-day {
    grid-area: five-day;
    height: fit-content;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.five-day-card {
    height: 175px;
    width: 150px;
}

footer{
    display: none;
    height: 250px;
}