:root {
    --graphite: rgba(43, 45, 66, 1);
    --graphite-see-through: rgba(43, 45, 66, .5);
    --mechanical-pencil: rgb(184, 186, 207);
    --light-gray: rgba(191, 203, 224, 1);
    --background: rgba(237, 242, 244, 1);
    --mouseover-red: rgba(239, 35, 60, 1);
    --amaranth-red: rgba(217, 4, 41, 1);
    --light-amaranth: rgba(217, 4, 41, .5);
    --deep-purple: rgb(70, 0, 70);
    --light-purple: rgb(0, 0, 70);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 242, 244);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

header {
    width: 85%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--amaranth-red);
    color: white;
    border-left: 5px solid black;
    border-right: 5px solid black;
    position: relative;
    z-index: 2;
}

header::after{
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0px 5px 6px var(--graphite);
}

main {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 300px minmax(auto, 850px);
    grid-template-rows: auto;
    grid-template-areas:
                        "ui city-results"
                        "ui five-day"
                        ;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--light-gray);
    border-radius: 0px 0px 20px 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#ui {
    grid-area: ui;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#input-container{
    width: inherit;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

#search-title {
    width: 80%;
}

#search-input {
    resize: none;
    height: 2rem;
    font-size: 1.2em;
    width: 95%;
    padding: .5em;
    align-self: center;
}

#submit-button {
    height: 2rem;
    width: 95%;
    background-color: var(--amaranth-red);
    color: white;
    align-self: center;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    box-shadow: 2px 2px 5px black;
}

#submit-button:hover {
    background-color: var(--mouseover-red);
}

#submit-button:active{
    transform: translate(2px, 2px);
}

#submit-button:active::after{
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0px 0px 3px 2px rgb(255, 255, 255);
    border-radius: inherit;
}

#past-searches {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    margin-top: 10px;
    border-top: 2px solid var(--graphite);
}

.past-city-search {
    width: 95%;
    height: 1.5rem;
    padding-top: 2px;
    border-radius: 5px;
    background-color: var(--graphite);
    color: white;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.past-city-search::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0px 5px 6px var(--graphite);
    border-radius: inherit;
}

#city-results {
    padding: 10px 20px 10px 50px;
    grid-area: city-results;
    min-height: 200px;
    max-height: fit-content;
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
}

.city-detail {
    height: 2rem;
    width: 200px;
    margin-bottom: 5px;
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#city-date {
    display: flex;
    align-items: center;
}

img{
    width: 50px;
    height: 50px;
    background-color: var(--light-amaranth);
    border-radius: 35%;
}

#five-day {
    grid-area: five-day;
    height: fit-content;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
    font-weight: bold;
}

.five-day-card {
    height: 175px;
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: var(--graphite);
    color: white;
    padding: 10px 0px 10px 20px;
    gap: 2px;
    box-shadow: 8px 8px 3px var(--graphite-see-through);
}

.date-header {
    font-size: 1.3rem;
}

footer{
    display: none;
    height: 250px;
}

@media screen and (max-width: 768px){
    header {
        font-size: .75rem;
    }
    
    main {
        display: flex;
        flex-direction: column;
    }

    #past-searches {
        min-height: 0;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .past-city-search {
        width: 40%;
        flex-grow: 1;
        padding: 2px 5px 0px 5px;
    }
}